.page {
    background-color: #2a2c2f;
    width: 1280px;
    display: grid;
    
}

.logo_image {
    margin: 34px 505px 0;
    width: 270px;
    height: 70px;
}

/* lead */
.lead {
    display: grid;
    margin: 90px 148px 0;
}

.lead__title {
    margin:0 96px 0;
    width: 793px;
    height: 200px;
    font-size: 96px;
    text-align: center;
    font-weight: 900;
    line-height: 100px;
    color: #ffffff;
}

.lead__subtitle {
    margin: 32px 132px 0;
    width: 720px;
    height: 72px;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    line-height: 36px;
    color: #ffffff;
}

.lead__image {
    margin: 64px 0 0; 
}

/* intro */
.intro {
    width: 883px;
    margin: 92px 148px 0;
    display: grid;
}

.intro__title {
    margin: 0;
    font-size: 54px;
    font-weight: 900;
    line-height: 58px;
    color: #ffffff;
}

.intro__text {
    width: 720px;
    font-size: 24px;
    font-weight: 400;
    margin: 40px 0 0;
    line-height: 34px;
    color: #ffffff;
}

.intro__text_author {
    width: 720px;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    text-align: right;
    margin: 0;
    color: #ffffff;
}

.intro__text_paragraph {
    width: 720px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26.08px;
    margin: 16px 0 0;
    color: #ffffff;
}

/* photo-grid */
.photo-grid {
    display: flex;
    flex-wrap: wrap;
    margin: 66px 48px 0;
    gap: 16px;
    
}

/* places */
.places {
    margin: 92px 146px 0;
    display: grid;
}

.place {
    display: grid;
    grid-template-areas: 'place__title place__website' 'place__image place__paragraph ' 'place__link place__paragraph';
    column-gap: 40px;
    margin: 0 0 80px;
}

.place__title {
    width: 460px;
    grid-area: place__title;
    color: #ffffff;
    font-size: 72px;
    font-weight: 900;
    line-height: 76px;
    margin: 0 0 48px 0;
}

.place__image {
    grid-area: place__image;

}

.place__link {
    grid-area: place__link;
    display: inline-block;
    padding: 13px 20px 13px 20px;
    margin: 48px 200px 0 0;
    background-color: #0278fe;
    color: #ffffff;
    text-decoration: none;
    border-radius: 4px;
    text-align: center;
}

.place__website {
    grid-area: place__website;
    padding: 50px 0 40px;
}

.place__url-heading {
    font-size: 12px;
    font-weight: 400;
    color: #aaaaaa;
    line-height: 14.52px;
    margin: 0;
}

.place__artist {
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    margin: 8px 0 0;
    line-height: 22px;
}

.place__paragraph {
    grid-area: place__paragraph ;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    line-height: 29.34px;
}

.place__paragraph_first {
    margin: 0;
}

/* cover */
.cover {
    margin: 92px 48px 0;
    background-image: url('./images/background.jpg');
}

.group {
    margin: 243px 264px;
    text-align: center;
}

.group__title {
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: #ffffff;
    margin: 0;
}

.group__subtitle {
    color: #ffffff;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin:0;
}

.group__paragraph {
    display: inline-block;
    padding: 13px 20px;
    background-color: #0278fe;
    color: #ffffff;
    text-decoration: none;
    border-radius: 4px;
}

/* footer */
.footer {
    margin: 92px 544px 8px;
}

.footer__copyrigt {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: #ffffff;
}