.cover {
    margin: auto;
    background-image: url('../images/background.jpg');
    width: 1184px;
    height: 740px;
    background-size: cover;
}

.group {
    width: 100%;
    text-align: center;
    background: rgba(0,0,0,0.3);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.group:hover {
    background: rgba(0,0,0,0.7);
}

.group__title {
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    margin: 0;
}

.group__subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin: 32px 452px 32px;
}

.group__paragraph {
    display: inline-block;
    padding: 13px 20px;
    background-color: #0278fe;
    color: #ffffff;
    text-decoration: none;
    border-radius: 4px;
}

.group__paragraph:hover {
    background-color: #0063D2;
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .cover {
        width: 768px;
        height: 746px;
    }

    .group__subtitle {
        margin: 32px 244px 32px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .cover {
        width: 321.26px;
        height: 254px;
    }

    .group__title {
        font-size: 32px;
        line-height: 35px;
    }

    .group__subtitle {
        font-size: 14px;
        line-height: 16px;
        margin: 16px 50px;
    }
}