.intro__title {
    font-size: 54px;
    font-weight: 900;
    line-height: 58px;
    margin: 92px 249px 0 148px;
}

.intro__text {
    margin: 40px 374px 0 148px;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
}

.intro__text_author {
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    text-align: right;
    margin: 0 412px 0 148px;
}

.intro__text_paragraph {
    font-size: 16px;
    font-weight: 400;
    line-height: 26.08px;
    margin: 16px 412px 66px 148px;
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .intro__title {
        margin: 88px 24px 0;
    }

    .intro__text {
        margin: 40px 24px 0;
    }

    .intro__text_author {
        margin: 0 24px;
    }

    .intro__text_paragraph {
        margin: 21px 24px 38px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .intro__title {
        font-size: 32px;
        line-height: 35px;
        margin: 64px 0 0 16px;
    }

    .intro__text {
        font-size: 20px;
        line-height: 30px;
        margin: 40px 16px 0;
    }

    .intro__text_author {
        font-size: 20px;
        line-height: 34px;
        margin: 0 16px;
    }

    .intro__text_paragraph {
        margin: 30px 16px 48px;
    }
}